<template>
  <div>
    <h1>Log In for Free</h1>
    <form action=""
      class="row m-0"
      autocomplete="off"
      @submit="submit">
      <div class="col-12">
        <input type="text"
          name="emailAddress"
          required
          placeholder="Email Address*">
        <span v-show="errors['emailAddress']">
          {{ errors['emailAddress'] }}
        </span>
      </div>
      <div class="col-12">
        <input type="password"
          name="password"
          required
          placeholder="Set A Password*">
        <span v-show="errors['password']">
          {{ errors['password'] }}
        </span>
      </div>
      <Button class="col-12">Get started</Button>
    </form>
  </div>
</template>

<script>
export default {
  name: "SingIn",
  props: ["errors"],
  methods: {
    submit(e) {
      this.$emit("submitLogIn", e);
    }
  }
};
</script>