<template>
  <div>
    <h1>Sign Up for Free</h1>
    <form class="row m-0"
      autocomplete="off"
      @submit="submit">
      <div class="col-6">
        <input type="text"
          name="firstName"
          required
          minlength="2"
          placeholder="First Name*">
        <span v-show="errors['firstName']">
          {{ errors['firstName'] }}
        </span>
      </div>
      <div class="col-6">
        <input type="text"
          name="lastName"
          required
          minlength="2"
          placeholder="Last Name*">
        <span v-show="errors['lastName']">
          {{ errors['lastName'] }}
        </span>
      </div>
      <div class="col-12">
        <input type="text"
          name="emailAddress"
          required
          placeholder="Email Address*">
        <span v-show="errors['emailAddress']">
          {{ errors['emailAddress'] }}
        </span>
      </div>
      <div class="col-12">
        <input type="password"
          name="password"
          required
          placeholder="Set A Password*">
        <span v-show="errors['password']">
          {{ errors['password'] }}
        </span>
      </div>
      <Button class="col-12">Get started</Button>
    </form>
  </div>
</template>

<script>
export default {
  name: "SignIn",
  props: ["errors"],
  methods: {
    submit(e) {
      this.$emit("submitSignUp", e);
    }
  }
};
</script>
