<template>
  <div class="home">
    <Authentication />
  </div>
</template>

<script>
import Authentication from "@/components/Authentication.vue";

export default {
  name: "home",
  components: {
    Authentication
  }
};
</script>
