<template>
  <div class="main">
    <div class="text-left row header">
      <div class="col-10 offset-1">
        <h3>
          Popular Varna pictures
        </h3>
        <a href="#">See all</a>
      </div>
    </div>
    <Slider :images="images" />
  </div>
</template>

<script>
import Slider from "@/components/Slider.vue";
import Images from "@/services/Images";

export default {
  name: "Main",
  components: { Slider },
  mixins: [Images],
  data() {
    return {
      images: []
    };
  },
  created() {
    if (!this.$route.params.authentication) {
      this.$router.push("/");
    } else {
      this.fetchImages().then(result => (this.images = result));
    }
  }
};
</script>

<style scoped lang="less">
.header {
  margin: 10px 0;

  h3 {
    color: #51414c;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0;
    font-size: 1rem;
  }

  a {
    color: #51414c;
    float: right;
  }
}
</style>