<template>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-4 offset-lg-4 authentication">
      <div class="row tabs">
        <div class="col-6 tab"
          :class="showForm === 'signUp' ? 'active': ''"
          @click="showForm = 'signUp'">Sign Up</div>
        <div class="col-6 tab"
          :class="showForm === 'logIn' ? 'active': ''"
          @click="showForm='logIn'">Log In</div>
      </div>
      <SignIn v-if="this.showForm === 'signUp'"
        @submitSignUp="submitSignUp"
        :errors="errors" />
      <LogIn v-if="this.showForm === 'logIn'"
        @submitLogIn="submitLogIn"
        :errors="errors" />
    </div>
  </div>
</template>

<script>
import SignIn from "./form/SignIn";
import LogIn from "./form/LogIn";

export default {
  name: "Authentication",
  components: {
    SignIn,
    LogIn
  },
  data() {
    return {
      showForm: "signUp",
      errors: {}
    };
  },
  methods: {
    submitSignUp(e) {
      e.preventDefault();
      const { elements } = e.target;
      const firstName = elements.firstName.value;
      const lastName = elements.lastName.value;
      const emailAddress = elements.emailAddress.value;
      const password = elements.password.value;

      const resultsValidate = this.validateForm({
        typeForm: "SignUp",
        data: { firstName, lastName, emailAddress, password }
      });

      if (resultsValidate) {
        this.$router.push({ name: "main", params: { authentication: true } });
      }
    },
    submitLogIn(e) {
      e.preventDefault();
      const { elements } = e.target;
      const emailAddress = elements.emailAddress.value;
      const password = elements.password.value;

      const resultsValidate = this.validateForm({
        typeForm: "LogIn",
        data: { emailAddress, password }
      });

      if (resultsValidate) {
        this.$router.push({ name: "main", params: { authentication: true } });
      }
    },
    validateForm(validate) {
      const { typeForm, data } = validate;
      const errors = {};
      const regExpPassword = new RegExp(
        /^(?=(?:\D*\d){2})(?=.*[A-Z]{1,})[a-zA-Z0-9]{6,}$/
      );

      const regExpEmail = new RegExp(
        /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      );

      if (typeForm === "SignUp") {
        if (!data.firstName) {
          errors.firstName = "First name is required";
        }

        if (!data.lastName) {
          errors.lastName = "Last name is required";
        }
      }

      if (!regExpPassword.test(data.password)) {
        errors.password =
          "Password mast be have at least one capital letter and at least 2 digits";
      }

      if (!regExpEmail.test(data.emailAddress)) {
        errors.emailAddress = "Email address is required";
      }

      this.$set(this, "errors", errors);

      return Object.keys(this.errors).length === 0;
    }
  },
  watch: {
    showForm: function() {
      this.errors = {};
    }
  }
};
</script>

<style lang="less">
.authentication {
  margin: 0 auto;
  background-color: #24323d;

  h1 {
    color: #fff;
    margin-bottom: 0;
    line-height: 2.3;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .tabs {
    margin: 20px 0;
    background: #43525a;

    .tab {
      display: inline-block;
      text-align: center;
      color: #979894;
      padding: 10px 0;

      &.active {
        background: #1ab188;
        color: #fff;
        cursor: pointer;
      }
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
  }

  form {
    div {
      &.col-6 {
        max-width: 48%;

        &:first-of-type {
          margin-right: 4%;
        }
      }
    }

    input {
      width: 100%;
      background-color: #24323d;
      color: #979894;
      border: 1px solid #5f242c;
      padding: 8px 10px;
      margin: 7px 0;

      &:focus {
        outline: 0;
        color: #fff;
      }
    }

    span {
      color: #fff;
      font-size: 12px;
    }

    button {
      background-color: #19b087;
      color: #fff;
      border: none;
      padding: 7px 0;
      text-transform: uppercase;
      margin: 15px 0 20px;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
</style>
