<template>
  <div class="slider">
    <div :key='position'>
      <div class="row">
        <p class="arrows text-right col-1">
          <span v-if="position"
            @click="prev"
            href='#'>&#9001;</span>
        </p>
        <div class="col-10">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-3 item-block"
              :key='index'
              v-for="(image, index) in currentShowImages">
              <img :src="image.assets.huge_thumb.url" />
              <p class="description">{{image.description}}</p>
            </div>
          </div>
        </div>
        <p class="arrows text-left col-1">
          <span v-if="(position + this.showElements) < images.length"
            @click="next">&#9002;</span>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Slider",
  props: ["images"],
  data() {
    return {
      elements: 0,
      position: 0
    };
  },
  computed: {
    showElements: {
      get() {
        return this.elements;
      },
      set(v) {
        this.elements = v;
      }
    },
    currentShowImages() {
      return this.images.slice(
        this.position,
        this.position + this.showElements
      );
    }
  },
  methods: {
    next() {
      this.position += 1;
    },
    prev() {
      this.position -= 1;
    },
    getShowElement() {
      let showElements = 4;
      const { innerWidth } = window;
      if (innerWidth < 576) {
        showElements = 1;
      } else if (innerWidth < 768) {
        showElements = 2;
      }
      this.showElements = showElements;
    }
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", this.getShowElement);
    });
    this.getShowElement();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.getShowElement);
  }
};
</script>

<style scoped lang="less">
.arrows {
  margin-top: 90px;

  span {
    padding: 5px;
    cursor: pointer;
  }
}

@desktop: ~"only screen and (min-width: 960px) and (max-width: 1199px)";
@tablet: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@mobile: ~"only screen and (min-width: 360px) and (max-width: 719)";

.item-block {
  @media @tablet, @mobile {
    width: 100%;
  }

  p {
    margin-bottom: 0;
  }

  img {
    max-height: 215px;
    max-width: 250px;
    width: 100%;
    height: 100%;

    @media @tablet, @desktop {
      height: 165px;
    }
    @media @mobile {
      width: 100%;
      height: 100%;
    }
  }

  .description {
    font-size: 14px;
  }
}
</style>