<template>
  <div id="app"
    class="container-fluid">
    <router-view />
  </div>
</template>

<style lang="less">
#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>